[Unit]
Description=Vigil BBX Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/bbx

ExecStart=/bin/sh -c 'mkdir -p /opt/bbx/logs && /opt/bbx/bbx-server -config /opt/bbx/conf/config.yaml >> /opt/bbx/logs/app.log 2>&1'

Restart=always
RestartSec=5

LimitNOFILE=65535
LimitNPROC=65535

PrivateTmp=true

[Install]
WantedBy=multi-user.target