# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.6'

    - name: Make scripts executable
      run: |
          chmod +x build_all.sh
          chmod +x package.sh

    - name: Build and package
      run: 
        bash build_all.sh && bash package.sh

    - name: List release directory
      run: ls -la release/

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        files: release/**
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
